<!-- <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedIndex"> 
    <mat-tab label="Account Information">
      <form [formGroup]="transactionForm">
        <h1 class="main-color main-title mt-2">Banking Details</h1>
        <div class="row g-0">
          <div class="col-md-4">
            <div class="form-group mt-md-3">
              <label class='field-label'>First Name</label>
              <input type="text" matInput class="form-control" formControlName="firstName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-md-3">
              <label class='field-label'>Last Name</label>
              <input type="text" matInput class="form-control" formControlName="lastName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-md-3">
              <label class='field-label'>Birthday</label>
              <input type="text" matInput class="form-control" formControlName="dob">
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <div class="form-group mt-md-4">
              <label class='field-label'>Bank Account number</label>
              <input type="text" matInput class="form-control" formControlName="accountNumber">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-md-3">
              <label class='field-label d-flex align-items-center mb-1'> <span> Routing Number</span> 
                <mat-icon matTooltip="Info about the action"
                
                matTooltipHideDelay="100000">help_outline</mat-icon>
              </label>
              <input type="text" matInput class="form-control" formControlName="routingNumber">
            </div>
          </div>
        </div>
        
        
        
        
        
        <div class="d-flex mt-4  justify-content-between">
          <button mat-button class="btn btn-outline-dark"
            >Cancel</button>
          <button mat-button class="btn btn-app" style="background-color: #7031A5;" (click)="selectTab(1)"
            >Confirm</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Withdrawal Amount">

        <h1 class="main-color main-title mt-2">Withdrawal Amount</h1>
        <div class="row g-0">
          <div class="col-md-5">
            <div class="card" style="background-color: #A43DA1;color:white">
              <span>Wallet Amount</span>
              <p class="point mt-4">{{walletAmount}}</p>
            </div>
          </div>
          <div class="col-md-2 d-flex">
            <mat-icon style="font-size:100px;color:#b964b7">trending_flat</mat-icon>
          </div>
          <div class="col-md-5">
            <div class="card">
              <span>Withdrawal Amount</span>
              <span>
                <input type="text" class="form-control point" [(ngModel)]="withdrawalAmount">
              </span>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-12 mt-3">
            <p>Minimum withdrawal must be $25.00. For help and support please contact info@brandaffiliate.com</p>
          </div>
        </div>
        <div class="row g-0">
          <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        </div>
        <div class="d-flex mt-4  justify-content-between">
          <button mat-button class="btn btn-outline-dark"
            >Cancel</button>
          <button mat-button class="btn btn-app" style="background-color: #7031A5;" (click)="submit()"
            >Withdraw</button>
        </div>
    </mat-tab>
  </mat-tab-group> -->
  <ngx-spinner bdColor = "rgba(0,0,0,0.9)" type="timer">Loading...</ngx-spinner>

  <mat-stepper linear #stepper>
    <mat-step [stepControl]="transactionForm1" [editable]="isEditable">
      <form [formGroup]="transactionForm1">
        <ng-template matStepLabel>Account Information</ng-template>
        <div class="row g-0">
          <div class="col-md-4">
            <div class="form-group mt-md-3">
              <label class='field-label'>First Name</label>
              <input type="text" matInput class="form-control" formControlName="firstName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-md-3">
              <label class='field-label'>Last Name</label>
              <input type="text" matInput class="form-control" formControlName="lastName">
            </div>
          </div>
          <div class="col-md-4">
            <!-- <div class="form-group mt-md-3">
              <label class='field-label'>Birthday</label>
              <input type="text" matInput class="form-control" formControlName="dob">
            </div> -->
            <mat-form-field appearance="fill">
              <mat-label>Birthday</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <div class="form-group" style="margin-top:1.2rem">
              <label class='field-label'>Bank Account number</label>
              <input type="text" matInput class="form-control" formControlName="accountNumber">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-md-3">
              <label class='field-label d-flex align-items-center mb-1'> <span> Routing Number</span> 
                <mat-icon matTooltip="The routing number for your bank account can be viewed in your banking application's profile page, or contact your local bank for more details."
                
                matTooltipHideDelay="100000">help_outline</mat-icon>
              </label>
              <input type="text" matInput class="form-control" formControlName="routingNumber">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-md-3">
              <label class='field-label'>SSN (last four digit)</label>
              <input type="number" matInput class="form-control mt-2" formControlName="ssn">
            </div>
          </div>
        </div>
        <div class="d-flex mt-4  justify-content-between">
          <button mat-button class="btn btn-outline-dark" (click)="closeModal()"
            >Cancel</button>
          <button mat-button matStepperNext class="btn btn-app" style="background-color: #7031A5;"
            >Confirm</button>
        </div>
        <!-- <div>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </form>
    </mat-step>
    <mat-step [stepControl]="transactionForm2" [editable]="isEditable">
      <form [formGroup]="transactionForm2">
        <ng-template matStepLabel>Withdrawal Amount</ng-template>
        <div class="row g-0">
          <div class="col-md-5">
            <div class="card" style="background-color: #A43DA1;color:white">
              <span>Wallet Amount</span>
              <p class="point mt-4">{{walletAmount}}</p>
            </div>
          </div>
          <div class="col-md-2 d-flex">
            <mat-icon style="font-size:100px;color:#b964b7">trending_flat</mat-icon>
          </div>
          <div class="col-md-5">
            <div class="card">
              <span>Withdrawal Amount</span>
              <span>
                <input type="text" class="form-control point" formControlName="withdrawalAmount">
              </span>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-12 mt-3">
            <p>Minimum withdrawal must be $25.00. For help and support please contact info@brandaffiliate.com</p>
          </div>
        </div>
        <div class="d-flex mt-4  justify-content-between">
          <button mat-button class="btn btn-outline-dark" matStepperPrevious
            >Back</button>
          <button mat-button class="btn btn-app" style="background-color: #7031A5;" (click)="submit()"
            >Withdraw</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>