<!-- <mat-toolbar style="background-color: white; color: black; width: 100%; padding: 0px;height: 10vh;">
  <mat-toolbar-row style="width: 100%;margin:auto;">
    <div class="row w-100 d-none d-md-block g-0">
      <div class="col-md-12 p-0">
        <div class="header d-none d-md-flex flex-column flex-md-row justify-content-between align-item-center">
          <div class="d-flex my-auto">
            <div class="my-auto d-none d-md-block">
              <div class="d-flex flex-column">
                <img src="assets/image/logo.png" alt="logo" id="header-logo">
                <span class="text2 main-color"
                  style="margin-left:100px;margin-top:-10px;font-size:16px;font-weight: 400;">Affiliate Portal</span>
              </div>
            </div>
          </div>

          <div class="my-auto d-none d-md-flex">
            <a class="headerLink btn px-1 btn-link rounded-0 my-auto me-5" style="font-size: 16px;"
              routerLinkActive="router-active1" routerLink="/dashboard">Dashboard</a>
            <div class="d-flex align-items-center btn btn-link headerLink px-1">
              <div id="headerProfileImg">
                <img [src]="userPhotoUrl ? userPhotoUrl :'assets/images/profile-pic.png'" alt=""
                  style="width:50px;height:50px;margin-right: 6px;">
              </div>
              <a class="headerLink ms-2" routerLinkActive="router-active1"
                routerLink="/profile">{{userData.firstName}}</a>
            </div>
            <button class="btn btn-link headerLink" (click)="logout()">
              Logout
              <div class="d-inline-block">
                <img src="assets/image/SVG/LogOut.svg" alt="" style="width:20px;height:20px;margin-left: 0px;">
              </div>
            </button>
            <div class="my-auto">
            </div>
          </div>
         
        </div>
      </div>
    </div>
   
    
  </mat-toolbar-row>
</mat-toolbar> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <div class="container-fluid d-flex d-md-block justify-content-between ">
      <div class="navbar-brand">
        <img src="assets/image/logo.png" alt="logo" id="header-logo">
      </div>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="headerLink btn px-1 btn-link rounded-0 my-auto me-5" style="font-size: 16px;"
          routerLinkActive="router-active1" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <div class="d-flex align-items-center btn btn-link headerLink px-1">
            <div id="headerProfileImg">
              <img [src]="userPhotoUrl ? userPhotoUrl :'assets/images/profile-pic.png'" alt=""
                style="width:50px;height:50px;margin-right: 6px;">
            </div>
            <a class="headerLink ms-2" routerLinkActive="router-active1"
              routerLink="/profile">{{userData.firstName}}</a>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-link headerLink" (click)="logout()">
            Logout
            <div class="d-inline-block">
              <img src="assets/image/SVG/LogOut.svg" alt="" style="width:20px;height:20px;margin-left: 0px;">
            </div>
          </button>
        </li>
      
      </ul>
     
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
  <div class="container-fluid px-0 pt-2 pt-md-0">
    <a class="navbar-brand" href="#">
      <div>
        <img src="assets/image/logo.png" alt="logo" class="img-fluid ms-2 ms-md-4" style="width:180px;"> 
        <br/>
        <span class="text2 main-color" style="margin-left:100px;font-weight: 400;font-size: 16px;">
          Affiliate Portal
        </span>
      </div>
      
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-md-flex">
        <li class="nav-item d-flex align-items-center">
          <a class="headerLink btn px-1 btn-link rounded-0 my-auto me-5" style="font-size: 16px;"
          routerLinkActive="router-active1" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <div class="d-flex align-items-center btn btn-link headerLink px-1">
            <div id="headerProfileImg">
              <img [src]="userPhotoUrl ? userPhotoUrl :'assets/images/profile-pic.png'" alt=""
                style="width:50px;height:50px;margin-right: 6px;">
            </div>
            <a class="headerLink ms-2" routerLinkActive="router-active1"
              routerLink="/profile">{{userData.firstName}}</a>
          </div>
        </li>
        <li class="nav-item d-flex align-items-center">
          <button class="btn btn-link headerLink my-auto" (click)="logout()">
            Logout
            <div class="d-inline-block">
              <img src="assets/image/SVG/LogOut.svg" alt="" style="width:20px;height:20px;margin-left: 0px;">
            </div>
          </button>
        </li>
        
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-block d-md-none">
        <li class="nav-item d-flex align-items-center">
          <a class="li-sm"
          routerLinkActive="router-sm-active1" routerLink="/dashboard" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Dashboard</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          
            <a class="li-sm" routerLinkActive="router-sm-active1" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              routerLink="/profile">{{userData.firstName}}</a>
         
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class=" li-sm" (click)="logout()"
              >Logout</a>
        </li>
      </ul>
    
    </div>
  </div>
</nav>