<div>
  <div style="margin-left:100px" class="d-flex align-items-center">
    <span style="font-weight: 500;font-size:18px">{{userData.referalCode}}</span>
    <a href="http://facebook.com/" target="_blank"><img src="assets/image/SVG/facebook.png" alt=""
        style="width: 24px;margin-right: 12px;margin-left:16px"></a>
    <a href="http://www.instagram.com" target="_blank"><img src="assets/image/SVG/Instagram.png" alt=""
        style="width: 24px;margin-right: 12px"></a>
    <a href="http://www.tiktok.com" target="_blank">
      <img src="assets/image/SVG/TikTok-Icon-logo.png" alt="" style="width: 24px;margin-right: 12px">
    </a>
    <a href="http://www.twitter.com" target="_blank">
      <img src="assets/image/SVG/Twitter_bird_logo_2012.png" alt="" style="width: 24px;margin-right: 12px">
    </a>
    <a href="http://www.linkedin.com" target="_blank">
      <img src="assets/image/SVG/linkedin-logo-icon.png" alt="" style="width: 24px;">
    </a>
  </div>
  <div>
    <hr />
  </div>

  <div class="row">
    <!-- <div class="col-md-5">
      <h2>Updates</h2>
      <mat-tab-group>
        <mat-tab label="All">
          <ng-template matTabContent>
            <div style="height:500px;overflow-y: scroll;">
              <div *ngFor="let industry of apiData?.companyAffiliation" class="px-2 pt-3">
                <h2 class="ps-4 main-color">{{industry.industryName}}</h2>
                <div class="d-flex flex-wrap justify-content-between">
                  <div *ngFor="let dealer of industry.dealerList" class="d-flex justify-content-center"
                    style="width: 140px;">
                    <div>
                      <div class="comapanyLogo" [ngStyle]="{'background-image': 'url(' + dealer.companyLogoUrl + ')'}">
                      </div>

                      <span class='comapnyName d-flex justify-content-center'
                        style="word-wrap: break-word;">{{dealer.companyName}}</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab [label]="industry.industryName" *ngFor="let industry of apiData?.companyAffiliation">
          <ng-template matTabContent>
            <div class="px-2 pt-3" style="height:500px;overflow-y: scroll;">
              <h2 class="ps-4 main-color">{{industry.industryName}}</h2>
              <div class="d-flex flex-wrap justify-content-between">
                <div *ngFor="let dealer of industry.dealerList" class="d-flex justify-content-center"
                  style="width: 140px;">
                  <div>
                    <div class="comapanyLogo" [ngStyle]="{'background-image': 'url(' + dealer.companyLogoUrl + ')'}">
                    </div>
                    <span class='comapnyName d-flex justify-content-center'
                      style="word-wrap: break-word;">{{dealer.companyName}}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div> -->
    <div class="col-md-8">
      <h2>Inbox</h2>
      <mat-tab-group>
        <mat-tab label="All">
          <ng-template matTabContent>
            <div>
              <div *ngFor="let notf of apiData?.allNotifications | paginate: { itemsPerPage: 2, currentPage: currentPage }" class="px-5 pt-3">
                <h2 class="main-color">{{notf.notificationDate}}</h2>
                <table class="table table-borderless" id="pointsTable">
                  <tbody>
                    <tr *ngFor="let message of notf.messages" style="border-top: 1px solid gray;">
                      <td scope="col">
                        <div class="pointImage me-2" [ngStyle]="{'background-image': 'url(' + message.fromUserImage + ')'}">
                          <div *ngIf="message.readFlag == 0" style="min-width: 10px;margin-top:10px;position: absolute;right:0">
                            <div class="redDot"></div>
                          </div>
                        </div>
                      </td>
                      <td scope="col">
                        <p class="mb-0">{{message.message}}</p>
                      </td>
                      <td scope="col">
                        <button class="btn btn-light" (click)="openNotificationModal(message)">View</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
             
            </div>
            <div class="d-flex justify-content-center mt-3">
              <pagination-controls (pageChange)="currentPage = $event" previousLabel="" nextLabel=""></pagination-controls>
            </div>
            
          </ng-template>
        </mat-tab>
        <mat-tab label="Urgent">
          <ng-template matTabContent>
            <div>
              <div *ngFor="let notf of apiData?.urgentNotifications" class="px-5 pt-3">
                <h2 class="main-color">{{notf.notificationDate}}</h2>
                <table class="table table-borderless" id="pointsTable">
                  <tbody>
                    <tr *ngFor="let message of notf.messages" style="border-top: 1px solid gray;">
                      <td scope="col">
                        <div class="pointImage me-2" [ngStyle]="{'background-image': 'url(' + message.fromUserImage + ')'}">
                          <div *ngIf="message.readFlag == 0" style="min-width: 10px;margin-top:10px;position: absolute;right:0">
                            <div class="redDot"></div>
                          </div>
                        </div>
                      </td>
                      <td scope="col">
                        <p class="mb-0">{{message.message}}</p>
                      </td>
                      <td scope="col">
                        <button class="btn btn-light">View</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
