#dealerBg{
  background-image: url('/assets/image/BACKGROUNDS/explore-dealers.png');
  background-position: center;
  background-size: cover;
  padding:40px;
}
.searchInput{
  width: 95%;
  padding:8px 8px;
  position: relative;
  bottom:20px;
  border: 2px solid #d1d1d1;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
}
#filter{
  border: 1px solid #cccccc;
  margin-top:0 !important;
  padding:6px;
  position: relative;
  bottom:16px;
  background:white;
}
.dealerName{
  font-weight: bold;
  color: #a63da1;
  font-size: 18px;
}

#headerProfileImg img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.point{
  font-size: 16px;
  font-weight: bold;
}
.profile-header{
  height: 120px;
  margin-top: -30px;
}
.avatar{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  margin-right: 12px;
}

.card1{
  width: 100%;
  margin-bottom:1.5rem;
}
.campaignImage{
  width:100%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.perLead{
  position: absolute;
  left:0;
  top:0;
  background-color: #7031A5;
  padding:4px 8px;
  color:white
}
.copyLink{
  position: absolute;
  bottom:12px;
  right:0;
  background-color: white;
  align-items: center;
}
.copyBtn{
  background-color: #4d4d4d;
  color:white;
  padding:4px 8px;
  cursor: pointer;
}
.nameFont{
  font-size: 22px;
}
.mt-n{
  margin-top:-1.5rem;
}
.fs-sm{
  font-size: 10px;
}
.ml-social{
  margin-left:0
}
@media only screen and (min-device-width: 768px){
  .ml-social{
    margin-left:100px
  }
  .card1{
    width: 360px;
    margin-bottom: 0;
  }
  #headerProfileImg img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .profile-header{
    height: 120px;
    margin-top: -60px;
  }
  .nameFont{
    font-size: 32px;
  }
  .mt-n{
    margin-top:4.5rem;
  }
  .point{
    font-size: 32px;
  }
  .fs-sm{
    font-size: 14px;
  }
}