.btn-link{
  text-decoration: none;
  color: #555555;
}
.btn-link:focus{
  outline: none;
  box-shadow: none;
}
.main-color{
  color:#a63da1
}
.point{
  font-size: 32px;
  font-weight: 500;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  border-radius: 0;
}
.badge{
  background-color: #a63da1;
  color: white;
  border-radius: 6px;
  display: inline-flex;
  padding: 4px 10px;
  position: relative;
  bottom:2px;
  margin-left: 3px;
}
.redDot{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: red;
}
#pointsTable td{
  vertical-align: middle;
}

#pointsTable img{
  width:60px;
}
#pointsTable tr{
  border-bottom: 1px solid #c2c2c2;
  padding:4px 8px;
}
.btn-app{
  background-color:#a63da1;
  color:white
}
.comapanyLogo{
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 60px;
  border:1px solid #e2e2e2;
}
.pointImage{
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 35px;
  border:1px solid #e2e2e2;
}
.ml-social{
  margin-left:0
}
#overViewContainer{
  display: flex;
}
#overViewContainer > :nth-child(1){
  order:2;
}
#notf > div{
  /* width: 50%; */
}
.color-box{
  display: inline-block;
  width: 46%;
}
@media only screen and (min-device-width: 768px){
  .ml-social{
    margin-left:100px;
  }
  #overViewContainer{
    display: flex;
  }
  #overViewContainer > :nth-child(1){
    order:1;
  }
  #overViewContainer > :nth-child(2){
    order:2;
  }
  .color-box{
    display: inline-block;
    width: 100%;
  }
}
