<div>
  <div style="margin-left:106px">
    {{userData.referalCode}}
    <a href="http://facebook.com/" target="_blank"><img src="assets/image/SVG/facebook.png" alt=""
        style="width: 22px;margin-right: 6px;margin-left:8px"></a>
    <a href="http://www.instagram.com" target="_blank"><img src="assets/image/SVG/Instagram.png" alt=""
        style="width: 22px;margin-right: 8px"></a>
    <a href="http://www.tiktok.com" target="_blank">
      <img src="assets/image/SVG/TikTok-Icon-logo.png" alt="" style="width: 22px;margin-right: 8px">
    </a>
    <a href="http://www.twitter.com" target="_blank">
      <img src="assets/image/SVG/Twitter_bird_logo_2012.png" alt="" style="width: 22px;margin-right: 8px">
    </a>
    <a href="http://www.linkedin.com" target="_blank">
      <img src="assets/image/SVG/linkedin-logo-icon.png" alt="" style="width: 22px;">
    </a>
  </div>
  <div>
    <hr />
  </div>
  <div>
    <div class="row">
      <div class="col-md-8 pe-4">
        <div>
          <h2>Outreach</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card px-3 py-4" style="background-color: #7031A5;color:white">
                <h4 class="point">{{apiData?.totalEngagement}}</h4>
                <p>Total Engagement</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card px-3 py-4">
                <h4 class="point">{{apiData?.bannersShared}}</h4>
                <p>Total Banners Shared</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card px-3 py-4">
                <h4 class="point">{{apiData?.campaignsShared}}</h4>
                <p>Total Compaign Shared</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-7 mt-3 mt-md-0">
          <mat-tab-group>
            <mat-tab label="Total Engagement">
              <ng-template matTabContent>
                <div class='p-3'>
                  <div class="row">
                    <div class="col-md-9">
                      <div>
                        <button class="btn btn-light me-3">All Shares</button>
                        <button class='btn btn-light me-3'>Active Shares</button>
                        <button class='btn btn-light me-3'>Past Shares</button>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="ms-auto">
                        <mat-select [(value)]="selectedDateRange" name="date" class="mt-2">
                          <mat-option *ngFor="let type of dateTypes" [value]="type.value">
                            {{type.name}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">

                    </div>
                  </div>
                </div>

              </ng-template>
            </mat-tab>
            <mat-tab label="Banner Engagement">
              <ng-template matTabContent>
                <div class="pt-2">
                  <div>
                    <ngx-charts-line-chart style="width: 100%;" [showXAxisLabel]="showXAxisLabel" [xAxis]="xAxis"
                      [yAxis]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="multi">
                    </ngx-charts-line-chart>
                  </div>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Campaign Engagement">
              <ng-template matTabContent>
                <div class="card">
                  <div class="pt-2">
                    <div>

                    </div>
                  </div>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
