<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" id="dealerBg">
      <div class="container">
        <h1>
          Start Sharing <br />
          <span style="font-size: 28px;font-weight: 500;">Start Earning</span>
        </h1>
        <p>
          Share your affiliated dealers' campaigns today and start earning.<br/> It's that simple.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <input #typeVal type="text" placeholder="Search.." name="search" class="searchInput" (keydown)="filterData(typeVal.value)">
      </div>
      <div class="col-md-4">
        <!-- <mat-select [(value)]="selectedFilter" name="date" class="mt-2" id="filter">
          <mat-option *ngFor="let filter of filterType" [value]="filter.value">
            {{filter.name}}
          </mat-option>
        </mat-select> -->
      </div>
    </div>

      <div class="row d-flex justify-content-between">
        <div class="card1 mt-2" *ngFor="let campaign of apiData?.campaignList;let j =index" (click)="openCampaignShareModal(campaign)">
          <div class="card border-0">
            <div class="campaignImage" [ngStyle]="{'background-image': 'url(' + campaign.campaignImageLink + ')'}">
              <div class="perLead">
                <span>${{campaign.leadPayout}} per lead</span>
              </div>
              <div class="copyLink d-flex">
                <div class="px-2">
                  {{campaign.shortUrlLink}}
                </div>
                <div class="copyBtn" (click)="copyLink($event,campaign.shortUrlLink,j)">
                  Copy
                </div>
                <span class="copied" *ngIf="showCopyState && (copyIndex == j)">Copied</span>
              </div>
            </div>
            <div class="d-flex flex-column mt-2">
              <div class='d-flex justify-content-between align-items-center'>
                <h2 class="mb-0">{{campaign.campaignName}}</h2>
                <p class="text-muted mb-0" style="font-size: 12px;">{{campaign.campaignStartDate | date:'mediumDate'}} - {{campaign.campaignEndDate  | date:'mediumDate'}}</p>

              </div>
              <div class='d-flex justify-content-between'>
                <p class="mb-0 text-muted"></p>
                <p style="text-align: right;" class="d-flex align-items-center">
                  <mat-icon style="color:#8E38A3;margin-right:8px">sync </mat-icon>
                  {{campaign.totalShares}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
