#dealerBg{
  background-image: url('/assets/image/BACKGROUNDS/explore-dealers.png');
  background-position: center;
  background-size: cover;
  padding:40px;
}
.searchInput{
  width: 95%;
  padding:8px 8px;
  position: relative;
  bottom:20px;
  border: 2px solid #d1d1d1;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
}

#filter{
  border: 1px solid #cccccc;
  margin-top:0 !important;
  padding:6px;
  position: relative;
  bottom:16px;
  background:white;
}
.dealerName{
  font-weight: bold;
  color: #a63da1;
  font-size: 18px;
  cursor: pointer;
}
.comapanyLogo{
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 35px;
  border:1px solid #e2e2e2;
  cursor: pointer;
}
.card1{
  width: 320px;
}
.campaignImage{
  width:100%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.perLead{
  position: absolute;
  left:0;
  top:0;
  background-color: #7031A5;
  padding:4px 8px;
  color:white
}
.copyLink{
  position: absolute;
  bottom:12px;
  right:0;
  background-color: white;
  align-items: center;
}
.copyBtn{
  background-color: #4d4d4d;
  color:white;
  padding:4px 8px;
  cursor: pointer;
}
