.router-active{
  color:white !important;
}

.headerLink2{
  text-decoration: none;
  color: #DDB4D9;
  font-weight: 500;
  font-size: 16px;
}
.headerLink2:hover{
  color:white;
  text-decoration: none;
}
#dealerBg{
  background-image: url('/assets/image/BACKGROUNDS/explore-dealers.png');
  background-position: center;
  background-size: cover;
  padding:40px 0px;
}
.scrolledDiv{
  background-color: #7031A5;
  position: fixed;
  margin-top:-44px;
  z-index: 200
}
.searchInput{
  width: 100%;
  padding:8px 8px;
  position: relative;
  bottom:20px;
  border: 2px solid #d1d1d1;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
}
.searchInput1{
  border: 2px solid #d1d1d1;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
  margin-left:10px;
}
#filter{
  border: 1px solid #cccccc;
  margin-top:0 !important;
  padding:6px;
  position: relative;
  bottom:16px;
  background:white;
}
.dealerName{
  font-weight: bold;
  color: #a63da1;
  font-size: 18px;
  cursor: pointer;
}
.comapanyLogo{
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 35px;
  border:1px solid #e2e2e2;
  cursor: pointer;
}
.card1{
  width: 100%;
  margin-bottom:1.5rem;
}
.campaignImage{
  width:100%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.perLead{
  position: absolute;
  left:0;
  top:0;
  background-color: #7031A5;
  padding:4px 8px;
  color:white
}
.copyLink{
  position: absolute;
  bottom:12px;
  right:0;
  background-color: white;
  align-items: center;
}
.copyBtn{
  background-color: #3b3b3b;
  color:white;
  padding:4px 8px;
  cursor: pointer;
}
.copied{
  color:#588158;
  padding:4px 22px;
  text-transform: uppercase;
}
.share{
  padding:4px 16px;
  background-color: #3b3b3b;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.noData{
  padding: 6px;
  height:100px;
  margin-bottom:250px;
}
@media only screen and (min-device-width: 768px){
  .card1{
    width: 360px;
    margin-bottom: 0;
  }
  .searchInput{
    width: 95%;
  }
  #dealerBg{
    padding:40px;
  }
  .searchInput1{
    width: 300px;
    border: 2px solid #d1d1d1;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
    margin-left:100px;
  }
  .scrolledDiv{
    background-color: #7031A5;
    position: fixed;
    margin-top:-24px;
    z-index: 200
  }
}