<div class="container-fluid">
  <div class="row d-none d-md-block">
    <div class="col-md-12 px-0" style="background-color: #7031A5;">
      <div class="d-flex justify-content-between mx-4" style="padding:12px 120px">
        <a class="headerLink2" routerLinkActive="router-active" routerLink="/profile/overview">Overview</a>
        <a class="headerLink2" routerLinkActive="router-active" routerLink="/profile/outreach">Outreach</a>
        <a class="headerLink2" routerLinkActive="router-active" routerLink="/profile/affiliations">Company
          Affiliations</a>
        <a class="headerLink2" routerLinkActive="router-active" routerLink="/profile/notifications">Notifications</a>
        <a class="headerLink2" routerLinkActive="router-active" routerLink="/profile/wallet">Wallet</a>
        <a class="headerLink2" routerLinkActive="router-active" routerLink="/profile/settings">Settings</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-0 bg-header top-strip">

    </div>

  </div>
</div>
<div class="container" style="margin-top:-50px">
  <div class="row">
    <div class="col-md-12 profile-header">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <!-- <div id="headerProfileImg">
            <img [src]="userPhotoUrl ? userPhotoUrl :'assets/images/profile-pic.png'" alt="">
          </div> -->
          <div class="position-relative settingImage mb-3"
            [ngStyle]="{'background-image': 'url(' + selectedUserImgPath + ')'}">
            <input #userLogo type="file" id="companyLogoUpload" [disabled]="!editMode"
              (change)="onFileChanged($event,'user')" style="display:none" accept="image/*" />
            <div class="camera-icon" *ngIf="editMode">
              <img src="assets/images/camera.png" alt="camera" (click)="editMode ? userLogo.click(): false">
            </div>
          </div>
          <div class="ms-2">
            <h1 class="mb-2 montserrat" style="font-size: 32px;">{{userData?.firstName}} {{userData?.lastName}}</h1>
            <h3 class="mb-0 text-muted">{{userData?.countryName}}, {{userData?.stateName}}</h3>
            <p style="font-size: 10px;" class="mb-0">
              {{userData?.aboutMyself}}
            </p>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end pt-5 mt-2">
          <div class='d-flex flex-column justify-content-center align-items-center'>
            <span class="point mb-2">{{activeLinks || 0}}</span>
            <span>Active Links</span>
          </div>
          <div class='d-flex flex-column justify-content-center align-items-center ms-5'>
            <span class="point mb-2 main-color">{{totalPoints}}</span>
            <span>Points</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>