.bg-header{
  background-color: #C4C4C4;
  background-image: url('/assets/image/BACKGROUNDS/top-header.png');
  background-position: center;
  background-size: cover;
}
.top-strip{
  height: 80px;
}
.profile-header{
  height: 120px;
}
.settingImage{

  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.settingImage > img{
  border: 1px solid #f3f3f3;
}
.point{
  font-size: 32px;
  font-weight: bold;
}

.main-color{
  color: #a63da1;
}

.router-active{
  color:white !important;
}

.headerLink2{
  text-decoration: none;
  color: #DDB4D9;
  font-weight: 500;
  font-size: 16px;
}
.headerLink2:hover{
  color:white;
  text-decoration: none;
}
.camera-icon{
  position: absolute;
  right:-5px;
  bottom:-10px;
}
.camera-icon img{
  width:30px;
  height: 30px;
}
