<div>
  <div style="margin-left:106px">
    {{userData.referalCode}}
    <a href="http://facebook.com/" target="_blank"><img src="assets/image/SVG/facebook.png" alt=""
        style="width: 22px;margin-right: 6px;margin-left:8px"></a>
    <a href="http://www.instagram.com" target="_blank"><img src="assets/image/SVG/Instagram.png" alt=""
        style="width: 22px;margin-right: 8px"></a>
    <a href="http://www.tiktok.com" target="_blank">
      <img src="assets/image/SVG/TikTok-Icon-logo.png" alt="" style="width: 22px;margin-right: 8px">
    </a>
    <a href="http://www.twitter.com" target="_blank">
      <img src="assets/image/SVG/Twitter_bird_logo_2012.png" alt="" style="width: 22px;margin-right: 8px">
    </a>
    <a href="http://www.linkedin.com" target="_blank">
      <img src="assets/image/SVG/linkedin-logo-icon.png" alt="" style="width: 22px;">
    </a>
  </div>
  <div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-5">
        <div class="card p-3 mt-5" style="background-color: #A43DA1;color:white">
          <h3>
            Points Balance
          </h3>
          <div>
            <p class="point text-center">
              {{apiData?.points}}
            </p>

          </div>
          <div class="text-right">
            <button class="btn btn-link text-white d-flex align-items-center ms-auto">Redeem Points
              <mat-icon style="text-decoration: none;">
                arrow_right_alt</mat-icon>
              </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-5">
        <div class="card p-3 mt-5" style="background-color: #7031A5;color:white">
          <h3>
            Cash Balance
          </h3>
          <div>
            <p class="point text-center">
              {{apiData?.cashBalance}}
            </p>

          </div>
          <div class="text-right">
            <button class="btn btn-link text-white d-flex align-items-center ms-auto">Transfer
              <mat-icon>arrow_right_alt</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 px-5">
        <h2 class="mt-4">Balance History</h2>
        <div style="height: 500px;overflow-y:scroll;">

          <div class="card px-3">
            <table class="table table-borderless" id="pointsTable">
              <tbody>
                <tr *ngFor="let point of apiData?.pointsHistory">
                  <td scope="col">
                    <div class="pointImage" [ngStyle]="{'background-image': 'url(' + point.image + ')'}">
                    </div>
                  </td>
                  <td scope="col">
                    <h3 class="mb-0">{{point.companyName}}</h3>
                    <p>{{point.remark}}</p>
                    <p>{{point.createTs | date: 'mediumDate'}}</p>
                  </td>
                  <td scope="col" class="main-color" style="font-weight: 600;font-size: 16px;">+{{(point.pointsProvided).toFixed(2)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-5">
        <div class="card p-3 mt-5">
          <h3>
            My Referral Code
          </h3>
          <div>
            <p class="point text-center">
              {{apiData?.referalCode}}
            </p>

          </div>
          <div class="text-right">
            <button class="btn btn-light d-flex align-items-center ms-auto">Copy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
