<div class="container-fluid bg-color">
  <div class="row main-content">
    <div class="col-md-6 ps-4 bgWhiteSm">
      <div class="row mt-0 mt-md-3 py-4 py-md-0">
        <div class="my-auto">
          <img src="assets/image/logo.png" alt="logo" id="header-logo">
          <div class=" d-inline-block ms-3 ms-md-5">
            <button class="btn btn-link aff-btn">For Affiliates</button>
            <a class="btn btn-link deal-btn text-muted" href="https://dealer.brandfiliate.net" target="_blank">For
              Dealers</a>
          </div>
        </div>
      </div>
      <div class="row d-none d-md-flex" style="margin-top:20%">
        <div class="col-md-3">

        </div>
        <div class="col-md-8">
          <h1 class="main-text">
            <p class="mb-0">
              <img src="assets/image/textlogo.png" alt="" style="width:25rem">
            </p>
            <p class="mb-0" style="font-family: 'Montserrat', sans-serif;">where <span
                class="main-color">Affiliates</span></p>
            <p style="font-family: 'Montserrat', sans-serif;"><i>engage</i> and <i>earn</i></p>
          </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam aliquet nibh et lacus scelerisque, sed scelerisque tellus rutrum. Nunc in iaculis elit. </p>
        </div>
        <div class="col-md-1">

        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center py-5 py-md-0 px-4 px-md-2">
      <div id="profileBox" class="px-3">
        <mat-stepper [linear]="isLinear" #stepper linear labelPosition="bottom"
          class="pb-5 pb-md-0 {{ 'last-edited-step-' + stepper.selectedIndex }}"
          (selectionChange)="onStepChange($event)">

          <mat-step [stepControl]="regForm1" [completed]="isCompleted1">
            <form [formGroup]="regForm1" class="mt-3 mt-md-1">
              <ng-template matStepLabel>Login Details</ng-template>
              <div>
                <h1 class="main-color main-title mt-2">Sign Up</h1>
                <p class="mb-2 font-weight-normal">Existing User? <a class="main-color text-decoration-none"
                    routerLink="/login">Login
                    Here</a></p>
              </div>
              <div class="form-group mt-md-3">
                <label class='field-label'>E-mail</label>
                <input type="text" matInput class="form-control" formControlName="email">
              </div>
              <div class="form-group position-relative">
                <label class='field-label'>Password</label>
                <input [type]="hide ? 'password' : 'text'" #pass matInput class="form-control"
                  formControlName="password" (keyup)="showValidityState($event)">
                <mat-icon style="position: absolute;right: 4px;top:20px" matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </div>
              <div class="form-group position-relative">
                <label class='field-label'>Confirm Password</label>
                <input [type]="hide ? 'password' : 'text'" matInput class="form-control" formControlName="cnfPassword">
                <mat-icon style="position: absolute;right: 4px;top:20px" matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </div>


              <div class="form-group mt-3">
                <p class="mb-0">Password must have the following: </p>
                <ul style="list-style-type: none;padding-left:12px">
                  <li class="d-flex align-items-center">
                    <mat-icon class="me-2" *ngIf="!passwordValidity.length">radio_button_unchecked</mat-icon>
                    <mat-icon class="me-2" style="color:green" *ngIf="passwordValidity.length">check_circle</mat-icon>
                    length of 8 or more character
                  </li>
                  <li class="d-flex align-items-center">
                    <mat-icon class="me-2" *ngIf="!passwordValidity.isLowercase">radio_button_unchecked</mat-icon>
                    <mat-icon class="me-2" style="color:green" *ngIf="passwordValidity.isLowercase">check_circle
                    </mat-icon>
                    one lowercase letter
                  </li>
                  <li class="d-flex align-items-center">
                    <mat-icon class="me-2" *ngIf="!passwordValidity.isUppercase">radio_button_unchecked</mat-icon>
                    <mat-icon class="me-2" style="color:green" *ngIf="passwordValidity.isUppercase">check_circle
                    </mat-icon>
                    one uppercase letter
                  </li>
                  <li class="d-flex align-items-center">
                    <mat-icon class="me-2" *ngIf="!passwordValidity.isNumerical">radio_button_unchecked</mat-icon>
                    <mat-icon class="me-2" style="color:green" *ngIf="passwordValidity.isNumerical">check_circle
                    </mat-icon>
                    one numerical
                  </li>
                  <li class="d-flex align-items-center">
                    <mat-icon class="me-2" *ngIf="!passwordValidity.isSpecial">radio_button_unchecked</mat-icon>
                    <mat-icon class="me-2" style="color:green" *ngIf="passwordValidity.isSpecial">check_circle
                    </mat-icon>
                    one special character
                  </li>
                </ul>
              </div>
              <div class="d-flex mt-4 text-right">
                <button mat-button matStepperNext class="btn btn-app mb-5 mb-md-0 ms-auto"
                  [disabled]="(!regForm1.valid)" (click)="isCompleted1= true">Next</button>
              </div>
              <div class="position-relative">
                <hr />
                <div id="or">OR</div>
              </div>
              <div class="d-grid">
                <button mat-button class="btn btn-social position-relative" (click)="logInWithGoogle()">
                  <img src="assets/image/GoogleLogo.svg" alt="fb"
                    style="position:absolute;left:2px;width:20px;margin-left:4px">
                  Continue with Google
                </button>
              </div>
              <div class="d-grid">
                <button mat-button class="btn btn-social position-relative" (click)="logInWithFb()">
                  <img src="assets/image/facebook.svg" alt="fb"
                    style="position:absolute;left:2px;width:20px;margin-left:4px">
                  Continue with facebook
                </button>
              </div>
              <div>
                <p class="text-center mt-1 font-weight-normal">Are you a dealer? <a
                    href="https://dealer.brandfiliate.net" style="font-style: italic;text-decoration: none;">Login as a
                    dealer</a></p>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="regForm2" [editable]="isEditable" disabled [completed]="isCompleted2">
            <form [formGroup]="regForm2" class="mb-5 mb-md-0">
              <ng-template matStepLabel>Account Information</ng-template>
              <div>
                <h1 class="main-color main-title mt-2">Personal Info</h1>
              </div>
              <div class="form-group d-flex flex-column flex-md-row">
                <div class="col me-md-2">
                  <label class='field-label'>First Name</label>
                  <input type="text" class="form-control mb-3 mb-md-0 mb-lg-2 me-md-2" id="city"
                    onkeypress="return /[a-z]/i.test(event.key)" formControlName="firstName">
                </div>
                <div class="col ms-md-2">
                  <label class='field-label'>Last Name</label>
                  <input type="text" class="form-control" id="companyPhone" onkeypress="return /[a-z]/i.test(event.key)"
                    formControlName="lastName">
                </div>
              </div>
              <div class="form-group row">
                <div class="col">
                  <label class='field-label' for="country">Country</label>
                  <ng-select [items]="countries" bindLabel="countryName" formControlName="countryId"
                    (change)="onCountrySelect($event)" bindValue="countryId">
                  </ng-select>
                </div>
                <div class="col">
                  <label class='field-label' for="state">Region</label>
                  <ng-select [items]="states" bindLabel="stateName" formControlName="stateId" bindValue="stateId">
                  </ng-select>
                </div>
                <div class="form-group d-flex flex-column flex-md-row mt-3">
                  <div class="col me-md-2">
                    <label class='field-label'>Phone</label>
                    <input matInput type="number" class="form-control" id="personalPhone" formControlName="phone">
                  </div>
                  <div class="col ms-md-2">
                    <label class='field-label'>Referal Code (optional)</label>
                    <input matInput type="text" class="form-control" formControlName="referalCode">
                  </div>
                </div>

              </div>
              <!-- <div class="form-group mt-md-3">
                <ng-select [items]="companies" bindLabel="companyName" placeholder="Company Name" [multiple]="true"
                  formControlName="companyList" bindValue="companyId">
                </ng-select>
              </div>
              <div class="form-group mt-md-3">
                <ng-select [items]="interests" bindLabel="industryName" placeholder="Interest Area" [multiple]="true"
                  formControlName="intrestAreaList" bindValue="industryId">
                </ng-select>
              </div> -->
              <!-- <div class="form-group mt-md-3">
                <textarea name="reason" formControlName="platformjoinReason" id="reason" rows="6" class="w-100 p-2 mt-1"
                  placeholder="Why Did You Join This Platform?"></textarea>
              </div> -->
              <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="d-flex mt-5 justify-content-between">
                <button mat-button matStepperPrevious class="btn btn-outline-dark me-2">Back</button>
                <button mat-button class="btn btn-app" matStepperNext [disabled]="!regForm2.valid">Next</button>
                <!-- <button mat-button class="btn btn-default btn-back px-3" (click)="submit()">Skip</button> -->
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="regForm3" [editable]="isEditable" [completed]="isCompleted3">
            <form [formGroup]="regForm3" class="mt-md-1">
              <ng-template matStepLabel>Company Affiliation <br />and Interests</ng-template>
              <div>
                <h1 class="main-color main-title mt-2">Affiliation</h1>
              </div>
              <div class="form-group d-flex flex-column">
                <div class="col">
                  <label class='field-label'>Companies</label>
                  <p style="font-size: 10px;" class="font-weight-normal">Add one or more companies to affiliate with</p>
                  <ng-select [items]="companies" bindLabel="companyName" placeholder="Company Name" [multiple]="true"
                    formControlName="companyList" bindValue="companyId">
                  </ng-select>
                </div>
                <div>
                  <hr />
                </div>

                <div class="col">
                  <label class='field-label'>Interests</label>
                  <ng-select [items]="interests" bindLabel="industryName" placeholder="Interest Area" [multiple]="true"
                    formControlName="intrestAreaList" bindValue="industryId">
                  </ng-select>
                </div>
              </div>
              <div class="d-flex mt-5 justify-content-between">
                <div>
                  <button mat-button matStepperPrevious class="btn btn-outline-dark me-2">Back</button>
                </div>

                <div class='d-flex align-items-center'>
                  <!-- <button class="btn btn-link me-2 my-auto" style="text-decoration: none;"><i>Skip</i></button> -->
                  <button mat-button class="btn btn-app" matStepperNext [disabled]="!regForm3.valid">Next</button>
                </div>

              </div>
              <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Account verification</ng-template>
            <div *ngIf="verificationState === 1">
              <div>
                <h1 class="main-color main-title mt-2">One Time Code Verification</h1>
                <p class="main-color font-weight-normal">An e-mail with a one time code will be sent after you agree to
                  the following terms and conditions:
                </p>
              </div>
              <div>
                <mat-checkbox class="example-margin" [(ngModel)]="agreed">
                  <span class="font-weight-normal">I have agreed and read the <a href="/"
                      class="main-color text-decoration-none" style="font-style: italic;" (click)="openTermsModal()">Terms and
                      Conditions</a></span>
                </mat-checkbox>
              </div>
              <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="d-flex mt-5 justify-content-between">
                <button mat-button matStepperPrevious class="btn btn-outline-dark me-2">Back</button>
                <button mat-button class="btn btn-app" (click)="submit()">Send</button>

              </div>
            </div>
            <div *ngIf="verificationState === 2">
              <div>
                <h1 class="main-color font-weight-bold welcomeText">Verification Code</h1>
                <p>Enter the one time code verification sent to the provided e-mail address:</p>
              </div>
              <div class="d-flex justify-content-center">
                <!-- <input id="partitioned" type="text" maxlength="4" /> -->
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                  <input class="m-3 text-center form-control rounded" type="text" id="first" maxlength="1" />
                  <input class="m-3 text-center form-control rounded" type="text" id="second" maxlength="1" />
                  <input class="m-3 text-center form-control rounded" type="text" id="third" maxlength="1" />
                  <input class="m-3 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
                </div>
              </div>
              <div>
                <p class="bold">
                  Didn't receive a code?
                  <a href="#" class="main-color" (click)="resend()">Resend here</a>
                </p>
              </div>
              <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="d-flex mt-5 justify-content-between">
                <div>
                  <button mat-button matStepperPrevious class="btn btn-outline-dark">Back</button>
                </div>
                <div>
                  <button mat-button class="btn btn-app" (click)="verifyOtp()">Send</button>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="footer">
      <div style="width:200px;margin-left: auto;">
        <h2 class="mb-1 mt-2">Contact Us</h2>
        <p class="mb-0">
          <a href="brandfiliate.com" class="text-white text-decoration-none">brandfiliate.com</a>
        </p>
        <p class="mb-0">support.brandfiliate@info.com</p>
        <p>+1 777-777-7777</p>
        <div class="mb-0 d-flex justify-content-end">
          <img src="assets/images/fb.png" alt="fb" class="me-2">
          <img src="assets/images/linkedin.png" alt="linked">
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid">
  <section>
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="header d-flex flex-column flex-md-row justify-content-between align-item-center">
          <div class="my-auto d-none d-md-block">
            <img src="assets/images/logo.png" alt="logo" id="header-logo"> <span class="text2">-Affiliates</span>
          </div>
          <div class="d-block d-md-none text-center">
            <img src="assets/images/main-logo-mobile.png" alt="main-logo" id="mobile-logo">
            <a routerLink="/login"><img src="assets/images/login.png" alt="login" id="mobile-login-img"></a>
          </div>
          <div class="my-auto d-none d-md-block">
            <button class="btn btn-link text-uppercase main-color btn-reg" routerLink="/">Registering as
              Affiliate</button>
            <button class="btn btn-primary btn-login" routerLink="/login">Log In</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row d-block d-md-none">
      <div class="col text-center mt-3">
        <button class="btn btn-basic text-uppercase main-color btn-reg mx-auto">Registering as
          Affiliate</button>
      </div>
    </div>

    <div class="row mt-md-4 mt-xl-4 mt-xxl-5 page-margin">
      <div class="col-md-6 ps-0 d-none d-md-block text-center">
        <div class="bg-div" [ngStyle]="{'background-image': 'url(' + currentStepperImage + ')'}">

        </div>
      </div>
      <div class="col-md-6">
        <mat-stepper [linear]="isLinear" #stepper linear
          class="pb-5 pb-md-0 {{ 'last-edited-step-' + stepper.selectedIndex }}"
          (selectionChange)="onStepChange($event)">

          <mat-step [stepControl]="regForm1">
            <form [formGroup]="regForm1" class="mt-3 mt-md-1">
              <div class="form-group mt-md-3 position-relative">
                <input type="text" matInput class="form-control" id="userName" (change)="onUsernameEnter($event)"
                  formControlName="userName" placeholder="Username">
                <div style="position: absolute;right:0;bottom:2px" *ngIf="usernameValid == 1 || usernameValid == 2">
                  <mat-icon matPrefix class="done" *ngIf="usernameValid == 1">done</mat-icon>
                  <mat-icon matPrefix class="my-icon" *ngIf="usernameValid == 2">close</mat-icon>
                </div>

              </div>
              <div class="form-group d-flex flex-column flex-md-row">
                <div class="col me-md-2">
                  <input type="text" class="form-control mb-3 mb-md-0 mb-lg-2 me-md-2" id="city"
                    placeholder="User first name" onkeypress="return /[a-z]/i.test(event.key)"
                    formControlName="firstName">
                </div>
                <div class="col ms-md-2">
                  <input type="text" class="form-control" id="companyPhone" placeholder="User Last name"
                    onkeypress="return /[a-z]/i.test(event.key)" formControlName="lastName">
                </div>
              </div>
              <div class="form-group d-flex flex-md-row mb-md-0">
                <div class="col me-2">
                  <input type="text" class="form-control mb-3 mb-md-0 mb-lg-2 me-md-2" id="personalEmail"
                    placeholder="Email" formControlName="email">
                </div>
                <div class="col position-relative" *ngIf="showPasswordInput">
                  <input [type]="hide ? 'password' : 'text'" class="form-control mb-3 mb-md-0 mb-lg-2 me-md-2" id="password"
                    placeholder="Password" formControlName="password">
                    <mat-icon style="position: absolute;right: 4px;top:2px" matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <div class="form-group">
                    <div *ngIf="f1.password.touched && f1.password.invalid" class="text-danger">
                      <div *ngIf="f1.password.errors?.pattern">Please Enter valid password.</div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <input matInput type="number" class="form-control" id="personalPhone" placeholder="Phone"
                  formControlName="phone">
              </div>
              <div class="form-group">
                <input matInput type="text" class="form-control" placeholder="Referal Code (optional)"
                  formControlName="referalCode">
              </div>
              <div class="form-group mt-3">
                <p class="mb-0">Password must contain: </p>
                <p class="mb-0">At least 8 characters.</p>
                <p class="mb-0">At least 3 of the following: uppercase, lowercase, numeric, or special characters. </p>
                <p class="mb-0">
                  The allowed special characters are ~ ! @ # $ % ^ * - _ = + [ &#123; ] &#125; /  : , . ? [no spaces allowed!]
                </p>
              </div>
              <div class="d-grid mt-4">
                <button mat-button matStepperNext class="btn btn-dark mb-5 mb-md-0"
                  [disabled]="(!regForm1.valid) || (usernameValid != 1)">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="regForm2" [editable]="isEditable" disabled [completed]="isCompleted2">
            <form [formGroup]="regForm2" class="mb-5 mb-md-0">
              <div class="form-group mt-md-3">
                <ng-select [items]="companies" bindLabel="companyName" placeholder="Company Name" [multiple]="true"
                  formControlName="companyList" bindValue="companyId">
                </ng-select>
              </div>
              <div class="form-group mt-md-3">
                <ng-select [items]="interests" bindLabel="industryName" placeholder="Interest Area" [multiple]="true"
                  formControlName="intrestAreaList" bindValue="industryId">
                </ng-select>
              </div>
              <div class="form-group mt-md-3">
                <textarea name="reason" formControlName="platformjoinReason" id="reason" rows="6" class="w-100 p-2 mt-1"
                  placeholder="Why Did You Join This Platform?"></textarea>
              </div>
              <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="d-flex mt-5">
                <button mat-button matStepperPrevious class="btn btn-default btn-back px-5">Back</button>
                <button mat-button class="btn btn-dark flex-grow-1 me-2" [disabled]="!regForm2.valid"
                  (click)="submit()">Next</button>
                <button mat-button class="btn btn-default btn-back px-3" (click)="submit()">Skip</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="regForm3" [editable]="isEditable" [completed]="isCompleted3">
            <form [formGroup]="regForm3" class="mt-md-1">

              <div class="form-group mb-4 customMargin">
                <p>Verify your phone number below. Lorem ipsum dolor sit amet, con</p>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" id="otpNumber" formControlName="otpNumber">
              </div>
              <div class="d-flex mt-5">
                <button mat-button (click)="verifyOtp()" class="btn btn-dark flex-grow-1 mt-4"
                  [disabled]="!regForm3.valid">SUBMIT</button>
              </div>
              <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="d-flex flex-column flex-md-row justify-content-between align-item-center text-center text-md-left"
          id="footer">
          <div>
            <img src="assets/images/footer-logo-mobile.png" class="d-block d-md-none w-50 mx-auto" alt="footer-logo">
            <img src="assets/images/footer-logo.png" class="d-none d-md-block" alt="footer-logo">
          </div>
          <div class='my-auto'>
            <img src="assets/images/fb.png" class="m-2" alt="fb">
            <img src="assets/images/linkedin.png" class="m-2" alt="linkedin">
            <button class="btn btn-link main-color text-uppercase">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
