<div>
  <div style="margin-left:100px" class="d-flex align-items-center">
    <span style="font-weight: 500;font-size:18px">{{userData.referalCode}}</span>
    <a href="http://facebook.com/" target="_blank"><img src="assets/image/SVG/facebook.png" alt=""
        style="width: 24px;margin-right: 12px;margin-left:16px"></a>
    <a href="http://www.instagram.com" target="_blank"><img src="assets/image/SVG/Instagram.png" alt=""
        style="width: 24px;margin-right: 12px"></a>
    <a href="http://www.tiktok.com" target="_blank">
      <img src="assets/image/SVG/TikTok-Icon-logo.png" alt="" style="width: 24px;margin-right: 12px">
    </a>
    <a href="http://www.twitter.com" target="_blank">
      <img src="assets/image/SVG/Twitter_bird_logo_2012.png" alt="" style="width: 24px;margin-right: 12px">
    </a>
    <a href="http://www.linkedin.com" target="_blank">
      <img src="assets/image/SVG/linkedin-logo-icon.png" alt="" style="width: 24px;">
    </a>
  </div>
  <div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-5">
      <h2>Company Affiliations</h2>
      <mat-tab-group>
        <mat-tab label="All">
          <ng-template matTabContent>
            <div style="height:500px;overflow-y: scroll;">
              <div *ngFor="let industry of apiData?.companyAffiliation" class="px-2 pt-3">
                <h2 class="ps-4 main-color">{{industry.industryName}}</h2>
                <div class="d-flex flex-wrap justify-content-between">
                  <div *ngFor="let dealer of industry.dealerList" class="d-flex justify-content-center"
                    style="width: 140px;">
                    <div style="cursor: pointer;" (click)="goToDealerDetails(dealer.dealerId)">
                      <div class="comapanyLogo" [ngStyle]="{'background-image': 'url(' + dealer.companyLogoUrl + ')'}">
                      </div>

                      <span class='comapnyName d-flex justify-content-center'
                        style="word-wrap: break-word;">{{dealer.companyName}}</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab [label]="industry.industryName" *ngFor="let industry of apiData?.companyAffiliation">
          <ng-template matTabContent>
            <div class="px-2 pt-3" style="height:500px;overflow-y: scroll;">
              <h2 class="ps-4 main-color">{{industry.industryName}}</h2>
              <div class="d-flex flex-wrap justify-content-between">
                <div *ngFor="let dealer of industry.dealerList" class="d-flex justify-content-center"
                  style="width: 140px;">
                  <div>
                    <div class="comapanyLogo" [ngStyle]="{'background-image': 'url(' + dealer.companyLogoUrl + ')'}">
                    </div>
                    <span class='comapnyName d-flex justify-content-center'
                      style="word-wrap: break-word;">{{dealer.companyName}}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-7">
      <h2>Shared Links</h2>
      <mat-tab-group>
        <mat-tab label="All">
          <ng-template matTabContent>
            <div style="height:500px;overflow-y: scroll;">
              <div *ngFor="let link of apiData?.sharedLinks?.allLinks" class="px-5 pt-3">
                <h2 class="main-color">{{link.postDate}}</h2>
                <table class="table table-borderless" id="pointsTable">
                  <tbody>
                    <tr *ngFor="let item of link.shareList" style="border-top: 1px solid gray;">
                      <td scope="col">
                        <p class="mb-0">{{item.companyName}}</p>
                      </td>
                      <td scope="col">
                        <p class="mb-0">{{item.campaignName}}</p>
                      </td>
                      <td scope="col">
                        <p class="main-color mb-0">{{item.shortUrlLink}}</p>
                      </td>
                      <td scope="col">
                        <p *ngIf='showCopyState' class="mb-0">Copied</p>
                        <button class="btn btn-light" (click)="copyUrl(item.shortUrlLink)">Copy</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Active">
          <ng-template matTabContent>
            <div style="height:500px;overflow-y: scroll;">
              <div *ngFor="let link of apiData?.sharedLinks?.activeLinks" class="px-5 pt-3">
                <h2 class="main-color">{{link.postDate}}</h2>
                <table class="table table-borderless" id="pointsTable">
                  <tbody>
                    <tr *ngFor="let item of link.shareList" style="border-top: 1px solid gray;">
                      <td scope="col">
                        <p class="mb-0">{{item.companyName}}</p>
                      </td>
                      <td scope="col">
                        <p class="mb-0">{{item.campaignName}}</p>
                      </td>
                      <td scope="col">
                        <p class="main-color mb-0">{{item.shortUrlLink}}</p>
                      </td>
                      <td scope="col">
                        <p *ngIf='showCopyState' class="mb-0">Copied</p>
                        <button class="btn btn-light" (click)="copyUrl(item.shortUrlLink)">Copy</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Inactive">
          <ng-template matTabContent>
            <div style="height:500px;overflow-y: scroll;">
              <div *ngFor="let link of apiData?.sharedLinks?.inactiveLinks" class="px-5 pt-3">
                <h2 class="main-color">{{link.postDate}}</h2>
                <table class="table table-borderless" id="pointsTable">
                  <tbody>
                    <tr *ngFor="let item of link.shareList" style="border-top: 1px solid gray;">
                      <td scope="col">
                        <p class="mb-0">{{item.companyName}}</p>
                      </td>
                      <td scope="col">
                        <p class="mb-0">{{item.campaignName}}</p>
                      </td>
                      <td scope="col">
                        <p class="main-color mb-0">{{item.shortUrlLink}}</p>
                      </td>
                      <td scope="col">
                        <p *ngIf='showCopyState' class="mb-0">Copied</p>
                        <button class="btn btn-light" (click)="copyUrl(item.shortUrlLink)">Copy</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
