.btn-link{
  text-decoration: none;
  color: #555555;
}
.btn-link:focus{
  outline: none;
  box-shadow: none;
}
.point{
  font-size: 32px;
  font-weight: 500;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  border-radius: 0;
}
.btn-app{
  background-color:#a63da1;
  color:white
}
::ng-deep .mat-tab-body-wrapper{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.btn-light{
  border-radius: 0;
  background: #FFFFFF;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #1b1b1b;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px 8px!important;
  margin-right: 16px!important;
 }
 .comapanyLogo{
  width: 90px;
  height: 90px;
  background-position: center;
  background-size: cover;
  border-radius: 45px;
  border:1px solid #e2e2e2;
  margin:auto
}
.comapnyName{
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin-top:6px;
  margin-bottom: 12px;
}
.pointImage{
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 35px;
  border:1px solid #e2e2e2;
}
#pointsTable{
  margin-bottom:8px;
}
#pointsTable td{
  vertical-align: middle;
}
.ml-social{
  margin-left:0px;
}
@media only screen and (min-device-width: 768px){
  .ml-social{
    margin-left:100px;
  }
}
