<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" id="dealerBg">
      <div class="container">
        <h1 class="montserrat">
          Explore 2022's <br />
          <span style="font-size: 28px;font-weight: 500;">Top Dealers</span>
        </h1>
        <p class="font-weight-normal">
          From frequent banners and campaigns to insider perks,<br/>
          find a Dealer that you can help grow and benefit you!
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <input #typeVal type="text" placeholder="Search.." name="search" class="searchInput" (keydown)="filterData(typeVal.value)">
      </div>
      <div class="col-md-4">
        <!-- <mat-select [(value)]="selectedFilter" name="date" class="mt-2" id="filter">
          <mat-option *ngFor="let filter of filterType" [value]="filter.value">
            {{filter.name}}
          </mat-option>
        </mat-select> -->
      </div>
    </div>
    <div *ngFor="let dealer of apiData?.dealerList" class="mb-5">
      <div class="row mb-3">
        <div class="col-md-12 d-flex align-items-center">
          <!-- <img src="assets/image/comapny1.png" alt="" style="width:70px"> -->
          <div (click)="navigateToDealer(dealer)" class="comapanyLogo" [ngStyle]="{'background-image': 'url(' + dealer.companyLogoUrl + ')'}">
          </div>
          <span class="dealerName mx-3" (click)="navigateToDealer(dealer)">{{dealer.companyName}}</span>
          <mat-icon style="cursor: pointer;" *ngIf="dealer?.following == 0"class="my-auto" (click)="sendAffiliateRequest(dealer.dealerId)">add_circle_outline</mat-icon>
          <div *ngIf="dealer?.following == 1">
            <img src="assets/image/tick.png" alt="" width="24px">
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="card1" *ngFor="let campaign of dealer.campaignList" (click)="openCampaignShareModal(campaign)">
          <div class="card border-0">
            <div class="campaignImage" [ngStyle]="{'background-image': 'url(' + campaign.campaignImageLink + ')'}">
              <div class="perLead">
                <span>${{campaign.leadPayout}} per lead</span>
              </div>
              <div class="copyLink d-flex">
                <div class="px-2">
                  {{campaign.shortUrlLink}}
                </div>
                <div class="copyBtn" (click)="copyLink($event,campaign.shortUrlLink)">
                  Copy

                </div>
                <!-- <span class="ms-5 ps-3 mt-1" *ngIf="showCopyState">Link copied successfully!</span> -->
              </div>
            </div>
            <div class="d-flex flex-column mt-2">
              <div class='d-flex justify-content-between align-items-center'>
                <h2 class="mb-0">{{campaign.campaignName}}</h2>
                <p class="text-muted mb-0" style="font-size: 12px;">{{campaign.campaignStartDate | date:'mediumDate'}} - {{campaign.campaignEndDate  | date:'mediumDate'}}</p>

              </div>
              <div class='d-flex justify-content-between'>
                <p class="mb-0 text-muted">By {{dealer.companyName}}</p>
                <p style="text-align: right;" class="d-flex align-items-center">
                  <mat-icon style="color:#8E38A3;margin-right:8px">sync </mat-icon>
                  {{campaign.totalShares}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
