<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center ml-social">
      <span style="font-weight: 500;font-size:18px">{{userData.referalCode}}</span>
      <a href="http://facebook.com/" target="_blank"><img src="assets/image/SVG/facebook.png" alt=""
          style="width: 24px;margin-right: 12px;margin-left:16px"></a>
      <a href="http://www.instagram.com" target="_blank"><img src="assets/image/SVG/Instagram.png" alt=""
          style="width: 24px;margin-right: 12px"></a>
      <a href="http://www.tiktok.com" target="_blank">
        <img src="assets/image/SVG/TikTok-Icon-logo.png" alt="" style="width: 24px;margin-right: 12px">
      </a>
      <a href="http://www.twitter.com" target="_blank">
        <img src="assets/image/SVG/Twitter_bird_logo_2012.png" alt="" style="width: 24px;margin-right: 12px">
      </a>
      <a href="http://www.linkedin.com" target="_blank">
        <img src="assets/image/SVG/linkedin-logo-icon.png" alt="" style="width: 24px;">
      </a>
    </div>
    <div>
      <button class="btn btn-light" (click)="enableEdit()">Edit <span class="d-none d-md-inline-block">Profile</span></button>
    </div>
  </div>

  <div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-6 px-3 px-md-5">
      <div class="card border-0">
        <form [formGroup]="personalForm" class="mb-5 mb-md-0">
          <ng-template matStepLabel>Account Information</ng-template>
          <div>
            <h1 class="main-color montserrat">Personal Info</h1>
          </div>
          <div class="form-group d-flex flex-column flex-md-row">
            <div class="col me-md-2">
              <label class='field-label'>First Name</label>
              <input type="text" class="form-control mb-3 mb-md-0 mb-lg-2 me-md-2" id="city"
                onkeypress="return /[a-z]/i.test(event.key)" formControlName="firstName">
            </div>
            <div class="col ms-md-2">
              <label class='field-label'>Last Name</label>
              <input type="text" class="form-control" id="companyPhone" onkeypress="return /[a-z]/i.test(event.key)"
                formControlName="lastName">
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label class='field-label' for="country">Country</label>
              <ng-select [items]="countries" bindLabel="countryName" formControlName="countryId"
                (change)="onCountrySelect($event)" bindValue="countryId">
              </ng-select>
            </div>
            <div class="col">
              <label class='field-label' for="state">Region</label>
              <ng-select [items]="states" bindLabel="stateName" formControlName="stateId" bindValue="stateId">
              </ng-select>
            </div>
            <div class="form-group d-flex flex-column flex-md-row mt-3">
              <div class="col me-md-2">
                <label class='field-label'>Phone Number</label>
                <input matInput type="number" class="form-control" id="personalPhone" formControlName="phone">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 px-3 px-md-5">
      <div class="card border-0">
        <form [formGroup]="affiliationForm" class="mt-md-1">
          <div>
            <h1 class="main-color montserrat">Affiliation</h1>
          </div>
          <div class="form-group d-flex flex-column">
            <div class="col">
              <label class='field-label'>Companies</label>
              <ng-select [items]="companies" bindLabel="companyName" [multiple]="true" formControlName="companyList"
                bindValue="companyId">
              </ng-select>
            </div>
            <div class="col">
              <hr>
            </div>
            <div class="col">
              <label class='field-label'>Interests</label>
              <!-- <ng-select [items]="interests" bindLabel="industryName" [multiple]="true"
                formControlName="intrestAreaList" bindValue="industryId">
              </ng-select> -->
              <div class="d-flex flex-wrap" > 
                <div *ngFor="let interest of interests;let i =index" class="d-flex align-items-center me-3" >
                  <input type="checkbox" name="" id="" [disabled]="!enableForm" [checked]="interest.following" value="interest.intrestId"  (change)="modifyState($event, i)"> 
                  <span class="ms-1"> {{interest.intrestName}}</span>
                </div>
               
              </div>
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 px-3 px-md-5">
      <div class="card border-0">
        <form [formGroup]="loginForm" class="mb-5 mb-md-0">
          <div>
            <h1 class="main-color montserrat">Login Details</h1>
          </div>
          <div class="form-group">
            <label class='field-label'>Email</label>
            <input type="text" class="form-control mb-3 mb-md-0 mb-lg-2 me-md-2" formControlName="email" readonly
              onkeypress="return /[a-z]/i.test(event.key)">
          </div>

          <div class="form-group">
            <button class="btn btn-password" (click)="openChangePasswordDialog()">Change Password</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 px-3 px-md-5">
      <div class="card border-0">
        <form [formGroup]="socialForm" class="mb-5 mb-md-0">
          <div>
            <h1 class="main-color montserrat">Social Media Links</h1>
          </div>
          <div class="form-group d-flex flex-column">
            <div class="col">
              <label class='field-label'>Social Media Handle</label>
              <input type="text" class="form-control" formControlName="socialHandle">
            </div>
          </div>
          <div class="form-group d-flex flex-column flex-md-row">
            <div class="col me-md-2">
              <label class='field-label'>Facebook</label>
              <input type="text" class="form-control mb-3 mb-md-0 mb-lg-2 me-md-2" id="city" formControlName="fb">
            </div>
            <div class="col ms-md-2">
              <label class='field-label'>Twitter</label>
              <input type="text" class="form-control" id="companyPhone" formControlName="twitter">
            </div>
          </div>
          <div class="form-group d-flex flex-column flex-md-row">
            <div class="col me-md-2">
              <label class='field-label'>Instagram</label>
              <input type="text" class="form-control mb-3 mb-md-0 mb-lg-2 me-md-2" formControlName="insta">
            </div>
            <div class="col ms-md-2">
              <label class='field-label'>Tiktok</label>
              <input type="text" class="form-control" formControlName="tiktok">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end px-3 px-md-5">
      <button class="btn btn-app ms-auto d-flex align-items-center mt-2 px-4" *ngIf='enableForm' (click)="updateSettings()" [disabled]="isLoading">
        <mat-spinner *ngIf='isLoading' [diameter]="16" style="color:white;margin-right: 5px;"></mat-spinner>
        Save
      </button>
    </div>
  </div>
</div>
