:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width:200px;
    background: #523291;
    color: black;
    display: inline-flex;
    background-image: url('/assets/images/sidebar-bg.png') !important;
    background-size: cover !important;

}

mat-drawer-container{
    height: 100%;
 background: whitesmoke;
 color: black;
}
#footer{
  width: 100%;
  background-color: #4A4A4E;
  padding-right: 16px;
  color: white;
  padding-bottom: 4px;
  margin-top:36px;
}
.pt-custom{
    padding-top: 55px;
}
.footerWidth{
    width:unset;
}
// @media (min-width: 768px) {
//     .pt-custom{
//         padding-top: 10vh;
//     }
//  }
//  @media (min-width: 1200px) {
//     .pt-custom{
//         padding-top: 7vh;
//     }
//  }
//  @media (min-width: 1800px) {
//     .pt-custom{
//         padding-top: 7vh;
//     }
//  }
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 2200px) {
    #footer{
        margin-top:18rem;
    }
 }
 @media only screen and (min-device-width: 768px){
    #footer{
        margin-top:18rem;
        padding-right: 210px;
    }
    .footerWidth{
        width:200px;
    }
 }
