<div class="px-md-3 py-2">
  <div class="row">
      <div class="col-md-12 d-flex justify-content-between">
          <h2 class="font-weight-bolder">Notification</h2>
          <button class="btn btn-close" (click)="closeModal()">
          </button>
      </div>
  </div>
  <hr>
  <div class="d-flex flex-column flex-md-row justify-content-between">
    <table class="table table-borderless" id="pointsTable">
      <tbody>
        <tr>
          <td scope="col">
            <div class="pointImage me-2" [ngStyle]="{'background-image': 'url(' + notification.fromUserImage + ')'}">
              <div *ngIf="notification.readFlag == 0" style="min-width: 10px;margin-top:10px;position: absolute;right:0">
                <div class="redDot"></div>
              </div>
            </div>
          </td>
          <td scope="col">
            <p class="mb-0">{{notification.message}}</p>
          </td>
          <td scope="col">

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



