<div class="container-fluid customPos">
  <div class="row">
    <div class="col-md-12 px-0 py-3 py-md-2" style="background-color: #7031A5;">
      <div class="d-flex justify-content-start mx-4">
        <a class="headerLink2 me-5" routerLinkActive="router-active" routerLink="/dashboard/explore-dealers">Explore Dealers</a>
        <a class="headerLink2" routerLinkActive="router-active" routerLink="/dashboard/explore-campaigns">Explore Campaigns</a>
      </div>
    </div>
  </div>
</div>
<div class="pt-0 pt-md-4">
  <router-outlet></router-outlet>
</div>

