.router-active{
  color:white !important;
}

.headerLink2{
  text-decoration: none;
  color: #DDB4D9;
  font-weight: 500;
  font-size: 16px;
}
.headerLink2:hover{
  color:white;
  text-decoration: none;
}

.customPos{
  position: relative;
  z-index: 100;
}
.pad{
  padding:12px 120px
}
@media only screen and (min-device-width: 768px){
  .customPos{
    position: fixed;
    z-index: 100;
  }
}